/* #quote-container{
    background-color: rgba(250,250,250, 0.75);
} */

.nyArticles {
    display: inline-block;
   margin-right: 5px;
   margin-top: 10px;
 
}

#clicked{
    background-color: white;
    color: rgb(41, 146, 41);
}


#generated-cards {
    
    width: 100%;
    margin-top: 10px;
    
}


#articlesContainer{
    display: none;
}

#thumbnail{
    border-radius: 10px;
}




.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

