 #quote-container{
    overflow: scroll;
    height: 250px;
} 

.nyArticles {
    display: inline-block;
   margin-right: 5px;
   margin-top: 10px;
 
}


#nyTimesContainer {
    padding: inherit;
    background-color: #3298dc;
    border-radius: 5px;

}

#btnContainer{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#clicked{
    background-color: white;
    color: #00d1b2;
}

#generated-cards {
    
    transition: all .2s ease-in-out;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 25%;
    overflow: auto;
   
}

.card-content {
    
    padding: 1rem;
}

.title.is-4 {
    font-size: 0.9rem;
    height: 60px;
    overflow: hidden;
}

.subtitle.is-6 {
    font-size: 0.9rem;
    text-transform: capitalize;
}

#articlesContainer{
    display: none;
    overflow: scroll;
    height: 500px;
}

#articlesContainer .card:hover {
    
    box-shadow: 5px 10px 8px #888888;
    background-color: lavenderblush;
   
}

#thumbnail{
    border-radius: 10px;
}


.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

